
body{
    background-color: skyblue;
}
nav {

    line-height: 16px;
}

nav>ul {

    display: flex;
    flex-direction: row;
}

nav>ul>li {
    padding: 8px;
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
}

nav>ul>li>a:hover {
    border-bottom: 2px solid rgb(14, 14, 15);

}
/* End of the nav bar */
span>img{
    width: 80px;
    margin-right: 5%;
    margin-left: 2%;
}
.span{
    display: flex;
    flex-direction: row;
    width: 580px;
    align-items: center;
    margin-left: 5%;
    margin-top: 0%;

  
}
.empty{
    border-bottom: 1px solid black;
}
span>div{
    margin-top: 5em;
}

div h3 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.work, .skills, .interests  {
    margin-left: 15%;
    width: 580px;    
}